.link__section{
    padding: 3.5rem 9rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.link__section a{
    text-decoration: none;
    color: var(--gray900);
    font-weight: 500;
    font-size: 14px;
}
.link__section button a:hover{
    color: var(--gray900);
    font-weight: 700;
}

.btn_lg,
.btn_sm {
  display: block;
  width: 100%;
  border-radius: 8px;
  background: #eaecf0;
  outline: none;
  border: none;
  margin-bottom: 1.5rem;
}
.btn_lg:hover,
.btn_sm:hover{
    background: #d2d3d6;
  }

.btn_sm {
  height: 68px;
}
.btn_lg {
  height: 76px;
}

@media screen and (max-width: 550px){
    .link__section{
        padding: 2rem 1rem 1.5rem;
    }
    .link__section button a{
        font-size: 14px;
        line-height: 20px;
    }
}
