.contact__page{
    font-family: var(--font-family);
}
.contact__info{
    display:flex;
    flex-direction: column;
    margin: 8rem; 
}

.contact__info .contact__info-text{
    margin-bottom: 3rem;
}

.errorInput{
    border: 1px solid #F89687;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}
.contact__info .contact__info-text h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: var(--gray900);
    margin-bottom: 1rem;
}
.contact__info .contact__info-text p{
    font-weight: 400;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 30px;
    color: var(--gray600);
}

.contact__info-form{
    display: flex;
    flex-direction: column;
}
.contact__info-form .contact__info-form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contact__info-form-firstName,
.contact__info-form-lastName{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 0.6rem;
}

.contact__info-form-email,
.contact__info-form-message,
.contact__info-form-button{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.contact__info-form-row input{
    width: 100%;
    font-size: 13px;
    line-height: 20px;
}

input, textarea{
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 1rem;
    font-size: 16px;
    font-family: var(--font-family);
}
input::placeholder,
textarea::placeholder{
    border-radius: 8px;
    color: var(--gray500);
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
}

.contact__info-form label{
    font-size: 14px;
    font-weight: 500;
    color: var(--gray700);
    margin-bottom: 8px;
}

.contact__info-form-checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.contact__info-form-checkbox label{
    font-size: 12px;
    font-weight: 400;
    font-size: 16px;
line-height: 24px;
    color: var(--gray600);
}
.contact__info-form-checkbox #checkbox{
    align-self: flex-start;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
}
.contact__info-form-checkbox #checkbox:hover{
    outline-color: #84CAFF;
    border: 1px solid #84CAFF;
    box-shadow: 0px 0px 0px 4px #D1E9FF;
    border-radius: 6px;
}

#btn__submit{
    color: #fff;
    background: var(--primary600);
    padding: 0.65rem;
    border: 1px solid transparent;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
#btn__submit:hover{
    padding: 12px 20px;
    background: #175CD3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
#btn__submit:focus{
    background: #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

#btn__submit:disabled {
    background-color: #D0D5DD;
    cursor: not-allowed;
}

.contact__info-form .errorText{
    color: #F89687;
}
@media screen and (max-width: 768px){
    .contact__info{
        display:flex;
        flex-direction: column;
        margin: 2.5rem; 
    }
    .contact__info-form .contact__info-form-row{
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .contact__info-form-firstName,
    .contact__info-form-lastName{
        width: 100%;
    }
}