@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
  --font-family: 'Inter', sans-serif;
  --gray900: #101828;
  --gray500: #667085;
  --gray-background: #EAECF0;
  --gray200: #EAECF0;
}